{% extends 'core/base.html'%}{% block title %}{{ category.title }}{% endblock %}

{% block content%}


<h1>{{ category.title }}</h1>

<div class="contenedor">

      <div class="grid-layout">
            {% for product in products %}
            <div>
                  <div class="productCard ">
                        <ul class=" container-fluid card">
                              <div class="productCategory">
                                    <a href="{% url 'category_detail' product.category.slug %}">{{ product.category }}</a>
                              </div>
                              {% if product.image %}
                              <div class="img-div">
                                    <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                          <img class="img-fluid rounded container-fluid" id="product-img" src="{{ product.image.url }}" alt="Image of {{ product.title }}"></a>
                              </div>
                              {% endif %}
                              <div>
                                    <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                    <h6>{{ product.title }}</h6>
                              </a>
                              </div>
                              <p class="price">${{ product.get_display_price }}</p>
                              <p class="owner">Published by: <a href="{% url 'vendor_detail' product.user.id %}">
                                          {% firstof product.user.get_full_name product.user.username %}</a></p>
                              <a href="#" class="btn btn-success buy-now-button">Buy now</a>
                              <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart-button">Add to cart</a>
                        </ul>
                  </div>
            </div>
            {% endfor %}
      </div>
</div>

{% endblock %}