{% extends 'core/base.html'%}{% block title %}Login{% endblock %}
{% block content %}
{% if not request.user.is_authenticated %}
    <h1>Login</h1>
<div class="container">
<div class="form-group">
    <form method="POST" action="" class="login">
        <table class="form-class-login">
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-success" id="add-product">Login</button>
    </form>
</div>
</div>
{% else %}
<p>You're already logged in.</p>
{% endif %}
{% endblock %}
