{% extends 'core/base.html'%}{% block title %}Help{% endblock %}

{% block content %}
    <h1>Help</h1>
<div class="container info-style"><p>
<b>Navigation and Search:</b> Use the website's navigation menu or search bar to quickly find the product categories or specific items you're interested in. Refine your search results using filters like price range, brand, size, color, and customer ratings to narrow down your options.<br>
<br>
<b>Product Details:</b> Click on a product to view its detailed information. Look for important details such as product specifications, dimensions, materials used, customer reviews, and ratings. This information can help you make an informed decision about the product's suitability for your needs.<br>
<br>
<b>Add to Cart and Wishlist:</b> When you find a product you want to buy, click on the "Add to Cart" button to add it to your shopping cart. The cart keeps track of the items you want to purchase. You can also use the "Wishlist" feature to save items for future consideration.<br>
<br>
<b>Secure Payment:</b> Ensure that the website has secure payment options available. Look for secure payment icons or badges (such as SSL certificates) during checkout to ensure your personal and financial information is protected. Common secure payment methods include credit/debit cards, PayPal, or other trusted payment gateways.<br>
<br>
<b>Shipping and Delivery:</b> Check the website for information on shipping options, delivery times, and associated costs. Some websites offer free shipping or have specific delivery policies based on your location. It's helpful to review estimated delivery times before placing your order.<br>
<br>
<b>Returns and Refunds:</b> Familiarize yourself with the website's return and refund policy. Understand the conditions under which you can return or exchange a product and if there are any associated fees. This information will be useful in case you need to return a product due to any issues or dissatisfaction.<br>
<br>
<b>Customer Support:</b> If you have any questions or encounter any problems during your shopping experience, reach out to the website's customer support. Look for contact information, such as email, phone number, or live chat options, to seek assistance regarding your queries, concerns, or order-related issues.<br>
<br>
Remember, it's always a good practice to review the website's terms and conditions, privacy policy, and any additional policies before making a purchase. These guidelines can help ensure a smooth and satisfactory shopping experience on the e-commerce website.<br>
</p></div>
{% endblock %}